.navbar {
    display: flex;
    border-bottom: 1px solid grey;
}

.sub_navbar1 {
    margin: 20px;
}

.sub_navbar2{
    display: flex;
    flex:0.7;
    align-items: center;
}
.sub_navbar3{
    display: flex;
    flex:0.3;
    align-items: center;
}
.navbar li{
    list-style: none;
    margin: 15px;
}
.navbar li a {
    text-decoration:none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
}
.navbar li a:hover{
    color: red;
}
