.main-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin : 2% 5% 2% 5%;
}
.main-container li {
    text-align: center;
    list-style: none;
}
.main-container li a{
    text-decoration: none;
}
.mid-grid {
    margin: 0px auto;
    max-width: 100%;
}
.grid-box-content {
    padding-left: 20px;
}

.buy-now a{
    background-color: red;
    color: white;
    border: red;
    text-decoration: none;
    width: 300px;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
}

.buy-now {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}