.main-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin : 2% 5% 2% 5%;
}
.main-container li {
    text-align: center;
    list-style: none;
}
.main-container li a{
    text-decoration: none;
}
.mid-grid {
    margin: 0px auto;
    max-width: 100%;
}
.grid-box-content {
    padding-left: 20px;
}
.buy-now-button{
    display: flex;
    margin-top: 10%;
}
.buy-now{
    height: 30px;
    width: 100%;
}

.buy-now-button button{
    flex: 0.8;
    background-color: red;
    color: white;
    border: red;
}
.buy-now-button button a{
    text-decoration: none;
    color: white;
}
.buy-now-button :hover{
    background-color: rgb(255, 60, 60);
}

